

<footer>
<div class="d-flex justify-content-around bg-light">
    <div class="p-2"><a href="#!"><i class="fas fa-at fa-2x"></i>help@support.com</a></div>
    <div class="p-2">© 2019 Copyright:</div>
    <div class="p-2"><a href="#!"><i class="fas fa-phone fa-2x"></i>03 9234 5678</a></div>
  </div>
</footer>
