<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
  </div>
  <div class="row"
      <div class="col-md-3 mx-auto">
      <ul class="list-unstyled">
          <li>
            <a href="#!"><i class="fas fa-at fa-2x"></i>help@support.com</a>
          </li>
          <li>
            <a href="#!"><i class="fas fa-phone fa-2x"></i>03 9234 5678</a>
          </li>
          </ul>
      </div>
  </footer>

  <form action="mailto:ruthmcilwaine@gmail.com" method="post" enctype="text/plain">
  <input type="submit" value="Send">
  </form>