<footer id="footer">
<div class="d-flex justify-content-around align-items-center bg-light">
    <div class="p-2"><a href="mailto:help@appspace.com"><i class="fas fa-at fa-2x"></i>help@appspace.com</a></div>
    <div style="margin: 0;"><p style=line-height: 1px; margin: 0;">© 2019 AppSpace, Inc.</p></div>
    <div class="p-2"><a href= "mailto:help@support.com"><i class="fas fa-phone fa-2x"></i>03 9234 5678</a></div>
  </div>
</footer>