<h4>Register a Store</h4>

<div class="container">
  <form action="<%= user_stores_path %>" method="POST">
    <input type="hidden" value="<%= form_authenticity_token %>" name= "authenticity_token" />
    <label for="name">Store Name</label>
    <input type="text" name="name" placeholder="Store name..">
    <select name="genre">
      <option value="selectgenre" disabled="disabled">Select Genre:</option>
      <option value="Book">Book</option>
      <option value="Business">Business</option>
      <option value="Education">Education</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Finance">Finance</option>
      <option value="Food">Food & Drink</option>
      <option value="Games">Games</option>
      <option value="Health">Health</option>
      <option value="Magazines">Magazines</option>
      <option value="Music">Music</option>
      <option value="News">News</option>
      <option value="Sports">Sports</option>
    </select>
    <input type="submit" value="Create" />
  </form>
</div>
<div class="footer">
</div>
