
<head>
<div class="jumbotron text-center">
  <h1>Welcome to the App Space</h1>
</div>
    <title>Register a Store</title>
</head>
<body>
<h4>Register a Store</h4>     
<form>
    <label for="name">Store Name</label>
    <input type="text" id="name" placeholder="Store name..">

      <select>
        <option value="0">Select Genre:</option>
        <option value="1">Book</option>
        <option value="2">Business</option>
        <option value="3">Education</option>
        <option value="4">Entertainment</option>
        <option value="5">Finance</option>
        <option value="6">Food & Drink</option>
        <option value="7">Games</option>
        <option value="8">Health</option>
        <option value="9">Magazines</option>
        <option value="10">Music</option>
        <option value="11">News</option>
        <option value="12">Sports</option>
      </select>
                
    <input type="submit" value="Register">
</form>
<div class="footer">
</div>
</body>

</html>
