<div class="jumbotron text-center">
    <h1>Welcome to the App Space</h1>
  </div>
<% @apps.each do |app| %>
<div>
    <ul>
    <li><%= app.name %></li>
    <li><%= app.description %></li>
    <li><%= app.price %></li>
    <li> <%= link_to 'Show Listing', app_path(app.id) %> </li>
    </ul>
<% end %>
</div>