 <div class="bg-image">
  <main id="content" class="text" role="main">
    <h1 class="cover-heading mb-auto">Welcome to the App Space.</h1>
    <p class="lead">An App Space where you can buy and sell your apps.</p>
    <p class="links">
    <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-lg btn-primary" %>
    </p>
  </main>
  </div>

