<div class="con-med border border-primary rounded p-3">
  <div class="text-center">
    <h1 class="text-center mb-4">Thank you for your Order, <%= @user_profile.first_name %>! </h1>
    <h5>Here is your order details along with a download link</h5>
  </div>
  <div class="form-row">
      <div class="form-group col-md-4">
      <h5>Order Number
      <input type="text" placeholder="<%= @order.id %>" class="form-control" disabled="disabled">
      </h5>
      <h5>Name
      <input type="text" placeholder="<%= @app.name %>" class="form-control" disabled="disabled">
      </h5>
      <h5>Price
      <input type="text" placeholder="<%= number_to_currency(@app.price) %>" class="form-control" disabled="disabled">
      </h5>
      <div class="form-row">
      <h2 class="download btn btn-primary btn-float-center">Download</h2>
    </div>
  </div>
    </div>
</div>

