<div class="jumbotron text-center">
  <h1>Welcome to the App Space</h1>
</div>

<form action="action_page.php">
  <div class="container">
    <h4>New User</h4>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="first_name"><b>First name</b></label>
    <input type="text" placeholder="First name.." name="first_name" required>
    
    <label for="last_name"><b>Last name</b></label>
    <input type="text" placeholder="Last name.." name="last_name" required>

    <label for="street"><b>Street</b></label>
    <input type="text" placeholder="Street.." name="street" required>

    <label for="suburb"><b>Suburb</b></label>
    <input type="text" placeholder="Suburb.." name="suburb" required>

    <label for="postcode"><b>Postcode</b></label>
    <input type="integer" placeholder="Postcode.." name="postcode" required>

    <div class="form-group">
      <label for="sel1">Select State:</label>
        <select class="form-control" id="sel1">
          <option>New South Wales</option>
          <option>Northern Territory</option>
          <option>Queensland</option>
          <option>South Australia</option>
          <option>Tasmania</option>
          <option>Victoria</option>
          <option>Western Australia</option>
        </select>
    </div>

    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>