<<<<<<< HEAD

<div class="jumbotron text-center">
  <h1>Welcome to the App Space</h1>
</div>


<form action="action_page.php">
  <div class="container">
    <h4>New User</h4>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="first_name"><b>First name</b></label>
    <input type="text" placeholder="First name.." name="first_name" required>
=======
    <div class="jumbotron text-center">
      <h1>Welcome to the App Space</h1>
    </div>
>>>>>>> 5a9daadfb0bf3f0aa160eb62cbb446638e2c7cca
    
    <div class="container">
      <h1>Add Your Profile</h1>
      <p>Please add your personal details to begin ordering</p>
      <hr>
      <form action="<%= user_user_profiles_path %>" method="POST">
        <input type="hidden" value="<%= form_authenticity_token %>" name= "authenticity_token" />
        <label for="name"><b>First Name</b></label>
        <input type="text" placeholder="First name.." name="first_name" required>
        <label for="last_name"><b>Last name</b></label>
        <input type="text" placeholder="Last name.." name="last_name" required>
        <label for="street"><b>Street</b></label>
        <input type="text" placeholder="Street.." name="street" required>
        <label for="suburb"><b>Suburb</b></label>
        <input type="text" placeholder="Suburb.." name="suburb" required>
        <label for="postcode"><b>Postcode</b></label>
        <input type="integer" placeholder="Postcode.." name="postcode" required>
        <select name="state">
          <option value="selectgenre" disabled="disabled">Select State:</option>
          <option value="New South Wales">New South Wales</option>
          <option value="Northern Territory">Northern Territory</option>
          <option value="Queensland">Queensland</option>
          <option value="South Australia">South Australia</option>
          <option value="Tasmania">Tasmania</option>
          <option value="Victoria">Victoria</option>
          <option value="Western Australia">Western Australia</option>
        </select>
        <input type="submit" value="Create" />
      </form>
    </div>