    <div class="con-med border border-info rounded p-3">
      <h1 class="mb-4">Add Your Billing Details</h1>
      <p>Please add your billing details to begin ordering from AppSpace</p>
      <hr>
      <form action="<%= user_user_profiles_path %>" method="POST">
        <input type="hidden" value="<%= form_authenticity_token %>" name= "authenticity_token" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name"><b>First Name</b></label>
              <input type="text" placeholder="First name.." name="first_name" class="form-control" required="required">
            </div>
            <div class="form-group col-md-6">
              <label for="last_name"><b>Last name</b></label>
              <input type="text" placeholder="Last name.." name="last_name" class="form-control" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="street"><b>Street</b></label>
            <input type="text" placeholder="Street.." name="street" class="form-control" required="required">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="suburb"><b>Suburb</b></label>
              <input type="text" placeholder="Suburb.." name="suburb" class="form-control" required="required">
            </div>
            <div class="form-group col-md-6">
              <label for="postcode"><b>Postcode</b></label>
              <input type="integer" placeholder="Postcode.." name="postcode" class="form-control" required="required">
            </div>
          </div>
          <div class="form-group">
            <select name="state" class="form-control" required="required">
              <option value="selectgenre" disabled="disabled">Select State:</option>
              <option value="New South Wales">New South Wales</option>
              <option value="Northern Territory">Northern Territory</option>
              <option value="Queensland">Queensland</option>
              <option value="South Australia">South Australia</option>
              <option value="Tasmania">Tasmania</option>
              <option value="Victoria">Victoria</option>
              <option value="Western Australia">Western Australia</option>
            </select>
          </div>
          <div class="form-group">
            <label for="country"><b>Country</b></label>
            <input type="text" name="country" class="form-control" value="Australia" required="required">
          </div>
          <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </form>
      </div>