// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.con-med {
  width: 50%;
  margin: 0 auto;
  box-shadow: 5px 6px #007bff;
<<<<<<< HEAD
  margin-bottom: 20px;
=======
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-center {
  margin-top: 2%;
  text-align: center;
}

.image-container {
  margin-bottom: 2%;
}

.container-column {
  text-align: center;
  margin: 2% 22% 2% 22%;
}

.desc {
  margin-top: 2%;
>>>>>>> 35216fdcbfce6a9a8a99befb8a980fa1162f9171
}
