// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.con-med {
  width: 50%;
  margin: 0 auto;
  box-shadow: 5px 6px #007bff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-center {
  margin-top: 2%;
  text-align: center;
}

.image-container {
  margin-bottom: 2%;
}

.container-column {
  text-align: center;
  margin: 2% 22% 2% 22%;
}

.desc {
  margin-top: 2%;
}

.container-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.max-width-container {
  max-width: 45%;
}

.container-rows {
  display: flex;
  flex-flow: row;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23929cac' fill-opacity='0.06'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1px;
}

.subtitle {
  font-size: 10pt;
}

.container-column {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.w-60 {
  width: 60%;
}

.text-hero {
  color: #454f5b;
}

#headlines-container {
  width: 60%;
}

.image-container-top {
  margin-top: 1px;
  margin: 25px;
}