
@import "bootstrap";

.bg-image {
  height: 100vh;
  background-size: contain;
  background-image: image_url('home.jpg'); 
}

.text {
  padding-top: 10%;
  margin-left: 15%;
  text-align: left!important
}

.cover-heading {
  color: azure;
}

.lead {
  color: azure;
}
